:root{
    
}
body{
    background: pink;
    background-position: center center;
    background-size: cover cover;
    padding: 0;
    margin: 0;
    font-weight: 200;
}
main {
    width: 80%;
    height: 80%;
    margin: 10vh 8vw 10vh 12vw;
    display: flex;
    gap: 5vw;
}
.box {
    background: rgba(0,0,0,0.6);
    border-radius: 30%;
    border-left: 20px solid var(--main-cinza);
    height: 100%;
}
.coisas {
    flex-basis: 32%
}
.montador {
    height: 100%;

}

.montador-conteudo {
    padding: 2em 10%;
    background-color: white;
    border-radius: 30px;
}
.controle {
    float: right;
    display: inline-flex;
    padding: 5px;
    align-items: center;
    align-self: flex-end;
}